<section class="split__banner section__content split__banner--right flex-v {{ section['class'] }} {% if section['onload'] != false %}{{section['onload']}}{% endif %} col-xs-12"{% if section['onload'] != false %} data-interaction="{{section['onload']}}"{% endif %}>
{% for content in section['ref'] %}
    <div class="split__banner--sub light inline col-xs-6">
        {% include "components/section_bg.njk" %}
    </div>
    <div class="split__banner--main light inline col-xs-6">
        {% include "components/section_text.njk" %}
    </div>
{% endfor %}
</section>