<section class="text__banner section__content {{ section['class'] }} col-xs-12"{% if section['onload'] != false %} data-interaction="{{section['onload']}}"{% endif %}>
{% for content in section['ref'] %}
    <div class="text__banner--main flex-v text__banner--right col-xs-{{content.fgWidth}} col-sm-10">
        {% include "partials/components/_section_text.njk" %}
        <div class="blur col-xs-12"></div>
    </div>
    {% include "partials/components/_section_bg.njk" %}
{% endfor %}
</section>