{% macro active(activePage='') %}
<header class="header__nav header__nav--{{ activePage }} flex-h transition col-xs-12">
    <a href="index.html" class="nav__logo header__nav--logo inline"><img class="nav__logo--image" src="assets/image/base/surfair-logo.png" /></a>
    <div class="nav__mobile header__nav--mobile inline" onclick="headerMobileToggle(event);">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <nav class="nav__main inline">
        <p><a href="index.html" class="nav__item nav__main--item{%if activePage == 'home' %} nav__item--active{% endif %}">home</a></p>
        <p><a href="experience.html" class="nav__item nav__main--item{%if activePage == 'experience' %} nav__item--active{% endif %}">experience</a></p>
        <p><a href="on-demand.html" class="nav__item nav__main--item{%if activePage == 'on-demand' %} nav__item--active{% endif %}">on demand</a></p>
        <p><a href="scheduled.html" class="nav__item nav__main--item{%if activePage == 'scheduled' %} nav__item--active{% endif %}">scheduled</a></p>
        <p><a href="memberships.html" class="nav__item nav__main--item{%if activePage == 'memberships' %} nav__item--active{% endif %}">memberships</a></p>
    </nav>
    <nav class="nav__sub inline">
        <p class="text">
            <a href="tel:8003656179" class="nav__item nav__sub--item">
            <svg width="11" height="11" viewBox="0 0 11 11"><path d="M10.977,9.422a1.579,1.579,0,0,0-.061-.757C10.268,8.1,9.609,7.541,8.961,6.978a.784.784,0,0,0-.66-.1c-.208.085-.281.293-.366.428-.354.55-1.283.513-2.077.256a8.461,8.461,0,0,1-2.419-2.42c-.256-.794-.293-1.723.256-2.077.134-.085.342-.159.428-.367a.782.782,0,0,0-.1-.66C3.463,1.393,2.9.734,2.339.086A1.454,1.454,0,0,0,1.581.025C.544.209.14,1.5.1,1.59A2.437,2.437,0,0,0,.043,2.751,13.092,13.092,0,0,0,3.219,8.09a11.76,11.76,0,0,0,5.033,2.871A2.62,2.62,0,0,0,9.413,10.9C9.5,10.864,10.794,10.461,10.977,9.422Z" transform="translate(0)" fill="#fff"/></svg>
            800.365.6179</a>
        </p>
        <p class="text"><a href="#" class="nav__item nav__item--active">sign in</a></p>
        <p class="button"><a href="#" class="nav__item nav__item--button nav__item--button-sm nav__item--button-solid">start free trial</a></p>
    </nav>
    <div class="blur col-xs-12"></div>
</header>
{% endmacro %}