{% macro active(activePage='') -%}
<title>
    {% if activePage == 'home' -%}Homepage{%- endif %}
    {% if activePage == 'experience' -%}Experience{%- endif %}
    {% if activePage == 'on-demand' -%}On Demand{%- endif %}
    {% if activePage == 'Memberships' -%}Memberships{%- endif %}
</title>
{%- endmacro %}