<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_head_files.njk' %}
    {% block data %}
        {% import 'macros/head_meta.njk' as meta %}
            {{ meta.active(pageTitle) }}
    {% endblock %}
</head>
<body class="{{ pageTitle }}" data-barba="wrapper">
    <main data-barba="container" data-barba-namespace="{{ pageTitle }}"{% if openScrolling %} open-scroll{% endif %}>
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
        {% if openScrolling == false %}
            {% block counter %}{% endblock %}
        {% endif %}
        {% block footer %}{% endblock %}
    </main>
    {% include '_body_files.njk' %}
</body>
</html>