.nav {
    &__main, &__sub {
        .nav__item {
            @extend %font-stack-reg;
            font-size: 11px;
            font-weight: 900;
            letter-spacing: 2.5px;
            line-height: 1;
            text-align: center;
            text-transform: uppercase;
            color: white;
            p {
                display: inline-block;
            }
            svg {
                vertical-align: middle;
            }
        }
    }
    &__sub {
        &--item {
            @extend %font-stack-light;
            font-weight: 300;
        }
        .button {
            a {
                color: black;
            }
        }
    }
    &__mobile {
        display: none;
        pointer-events: none;
    }
    &__item--button {
        @extend %font-stack-bold;
        text-align: center;
        &-sm {
            padding: 12px 20px 10px 20px;
            border-radius: 25px;
        }
        /*&-lg {
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 2.5px;
            line-height: 1;
            padding: 10px 90px;
            border-radius: 25px;
        }*/
        &-sm, &-lg {
            a {
                color: $sa-blue;
                text-decoration: none;
            }
        }
        &-solid {
            color: black;
            background-color: $white;
        }
        &-transparent {
            color: #FFFFFF;
            background-color: transparent;
            border: 2px solid $white;
        }
        &-naked {
            color: black;
            background-color: transparent;
            border: none;
        }
    }
}
.header__nav {
    @include transition(.8s);
    margin: 0 auto;
    padding: 23px 40px 0 40px;
    align-items: center;
    position: fixed;
    z-index: 1002;
    .nav {
        &__logo {
            margin-right: auto;
            &--image {
                width: 115px;
                height: 28px;
                object-fit: contain;
            }
        }
        &__main, &__sub {
            p {
                display: inline-block;
            }
        }
        &__main {
            position: absolute;
            margin: 0 auto;
        }
        &__sub {
            .nav__sub--item {
                @extend %font-stack-light;
            }
            svg {
                margin-right: 5px;
            }
            .button {
                 a {
                    @extend %font-stack-bold;
                    color: black;
                 }
            }
        }
        &__item {
            text-align: center;
            margin: 0 7.5px;
            vertical-align: middle;
        }
    }
    .blur {
        display: none;
    }
    &.active {
        background: $sa-blue;
        padding: 15px 40px 15px;
        .nav__item--button {
            padding: 10px 20px 8px 20px;
        }
    }
}
.footer__nav {
    height: 145px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0A253E;
    .footer__main {
        height: 35px;
    }
    p, nav, div {
        vertical-align: middle;;
    }
    p {
        margin-right: auto;
        margin-left: 35px;
        font-size: 12px;
        vertical-align: middle;
    }
    nav {
        position: absolute;
        margin: 0 auto;
        a {
            font-size: 10px;
            margin: 0 10px;
        }
    }
    .footer__social {
        margin-left: auto;
        margin-right: 25px;
        &--icon {
            margin-right: 35px;
        }
    }
    .footer__sub {
        margin-top: -20px;
        p {
            text-align: center;
            line-height: 18px;
            sub {
                @extend %font-stack-light;
                font-size: 12px;
            }
        }
    }
}
@media screen and (max-width: 1400px) {
    .header__nav {
        .nav__main {
            position: relative;
        }
    }
}
@media screen and (max-width: 1160px) {
    .header__nav {
        padding: 15px 20px 15px !important;
        .nav__item {
            font-size: 10px;
            margin: 0 5px;
        }
        .nav__sub {
            margin-right: 25px;
        }
    }
}
@media screen and (max-width: 1023px) {
    .header__nav {
        .nav {
            &__mobile {
                div {
                    @include transition(.5s)
                }
            }
        }
        &.open { 
            height: 100vh;
            width: 100%;
            background: rgba(0,0,0,0.2);
            .nav {
                &__mobile {
                    margin-right: -10px;
                    div:nth-child(1) {
                        transform: rotate(45deg) translateY(11px);
                    }
                    div:nth-child(2) {
                        opacity: 0;
                    }
                    div:nth-child(3) {
                        transform: rotate(-45deg) translateY(-11px);
                    }
                }
                &__main, &__sub {
                    position: relative !important;
                    display: block;
                    top: 0;
                    left: 0;
                    width: 100%;
                    margin: 0 auto;
                    p {
                        display: block;
                        text-align: center;
                        padding-bottom: 7%;
                        .nav__item {
                            font-size: 1.4rem;
                            letter-spacing: 3px;
                        }
                    }
                }
                &__main {
                    height: 65vh;
                    padding-top: 25%;
                }
                &__sub {
                    height: 30vh;
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: column;
                    flex-flow: column;
                    justify-content: center;
                    resize: vertical;
                    .text {
                        order: 2;
                        &:first-child {
                            display: none;
                        }
                    }
                    .nav__item--button {
                        font-size: 1.2rem;
                        border-radius: 50px;
                        padding: 20px 50px 15px 50px;
                    }
                }
                .blur {
                    @include transition(1s);
                }
            }
            .blur {
                opacity: 1;
            }
        }
        .nav {
            &__mobile {
                /*margin-right: 35px;*/
                display: inline-block;
                cursor: pointer;
                pointer-events: all;
                > div {
                    width: 25px;
                    height: 2px;
                    background-color: white;
                    &:nth-child(2) {
                        margin: 6px 0;
                    }
                }
            }
            &__main, &__sub {
                display: none;
            }
        }
        .blur {
            opacity: 0;
            display: block;
        }
    }
    .footer__nav {
        position: relative;
        padding: 5% 0;
        height: auto;
        &--copyright, 
        &--main, 
        &--social {
            width: 100%;
            text-align: center;
        }
        &--main {
            order: 1;
        }
        &--social {
            order: 2;
            padding: 2.5% 0 5%;
            margin: 0;
            .footer__social--icon {
                margin: 0 15px;
            }
        }
        &--copyright {
            order: 3;
        }
        nav {
            position: relative;
        }
        p {
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 767px) {
    .header__nav {
        &.open {
            .nav__main, .nav__sub {
                p .nav__item {
                    font-size: 1rem;
                }
            }
            .nav__sub .nav__item--button {
                font-size: 0.9rem !important;
                border-radius: 50px;
                padding: 15px 35px 11px 35px;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .footer__nav {
        nav {
            .nav__item {
                display: block;
                padding-bottom: 2.5%;
            }
        }
        &--social {
            padding: 5% 0 2.5%;
        }
    }
}