@import "base/fonts";
@import "base/variables";
@import "base/typography";
@import "base/kindling";
@import "navigation";
/**********************************
***************MACROS**************
**********************************/
$content-padding: 200px;
%full-height-base {
    position: relative;
    min-height: 101vh;
    overflow: hidden;
    padding: 0 $content-padding;
}
/**********************************
**************UNIVERSAL************
**********************************/
.section__content {
    &:first-of-type {
        padding-top: 12.5rem;
    }
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    &--item {
        padding-bottom:25px;
    }
    &--main {
        h5 { 
            margin-bottom: 17.5px; 
        }
        h2 {
            padding: 20px 0;
        }
        /*padding-bottom: 35px;*/
    }
    &--media {
        .main__image {
            max-width: max-content;
        }
    }
    &--button-wrapper {
        padding-top: 15px;
        .section__content--button {
            display: inline-block;
            margin: 0 12.5px;
            &-lg, &-sm {
                position: relative;
                width: 260px;
                height: 45px;
                border-radius: 25px;
                vertical-align: top;
                color: #FFFFFF;
                background-color: transparent;
                border: 2px solid #FFFFFF;
                a {
                    @extend %font-stack-reg;
                    left: 0;
                    text-align:center;
                    width: 100%;
                    position: absolute;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 2.5px;
                    line-height: 43px;
                    border: none;
                }
            }
            &-sm {
                width: 100%;
                a {
                    padding: 0;
                }
            }
        }
    }
    &--sub-title {
        img, h3 {
            display: inline-block;
            vertical-align: middle
        }
        h3 {
            line-height: 2.25rem;
        }
        img {
            margin-right: 15px;
        }
    }
    &--half-height {
        min-height: 60vh !important;
    }
    &.light {
        .section__content--button-wrapper {
            .section__content--button {
                border: 2px solid $sa-blue;
            }
        }
    }
    &:last-of-type {
        min-height: calc(101vh - 100px);
    }
}
.section__counter {
    width: auto;
    height: max-content;
    position: fixed;
    left: 20px;
    top: 40%;
    z-index: 999;
    div {
        cursor: pointer;
        margin: 6px 3px;
        i, p {
            display: inline-block;
            vertical-align: middle;
        }
        i {
            @include transition(.8s);
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background-color: rgba(255,255,255,0.6);
        }
        p {
            @extend %font-stack-reg;
            font-size: 14px;
            letter-spacing: 1px;
            padding-left: 10px;
            @include transition(1s);
            &:hover {
                margin-left: 10px;
            }
        }
        &.active {
            @include transition(2s);
            i {
                background-color: white;
                width: 12px;
                height: 12px;
                margin-left: -3px;
            }
            p {
                &:hover {
                    @include transition(2s);
                }
            }
        }
    }
    &.dark {
        div {
            i {
                background-color: $mid-blue;
            }
            p {
                color: $mid-blue;
            }
        }
    }
    &:hover {
        p {
            opacity: 1 !important;
        }
    }
}
.section__bg {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -999;
    &--media {
        height: 100%;
        object-fit: cover;
        z-index: -998;
    }
    &--overlay {
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
    }
}
/**********************************
*********SECTION*SPECIFIC**********
**********************************/
.cta__banner {
    @extend %full-height-base;
    &--content {
        z-index: 1;
        margin: 0 auto;
        position: relative;
        h1 {
            margin: 13px 0;
        }
    }
    &--center {
        h1, h2, h3, h4, h5, p {
            text-align: center;
        }
    }
}
.text__banner {
    @extend %full-height-base;
    &--main {
        position: absolute;
        height: 100%;
        top: 0;
        * {
            text-align: left;
        }
    }
    &--right {
        right: 0;
    }
    &--left {
        left: 0;
    }
    &--bottom {
        height: max-content;
        width: 100%;
        padding: 0 $content-padding;
        top: unset;
        bottom: 0;
        left: 0;
        * {
            flex: 1;
        }
        .section__content--item {
            padding: 50px 0;
            h2 {
                padding-top: 10px;
            }
        }
    }
    > .col-xs {
        &-1, &-2, &-3, &-4, &-5 {
            padding: 0 65px;
        } 
        &-6, &-7, &-8, &-9, &-10 {
            padding: 0 115px 0 150px;
        }
    }
    .nav__item--button-wrapper {
        padding-top: 60px;
    }
}
.service__banner {
    @extend %full-height-base;
    &--item-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        .service__banner--item {
            position: relative;
            padding: 2.5rem 2.5rem 4rem 2.5rem;
            border-left: 1px solid rgba(255,255,255,0.5);
            border-right: 1px solid rgba(255,255,255,0.5);
            margin-top: auto;
            z-index: 2;
            vertical-align: bottom;
            flex: 1;
            height: unset;
            &[onclick] {
                cursor: pointer;
            }
            &:first-child {
                border: none;
            }
            &:last-child {
                border: none;
            }
            &-inner {
                position: relative;
            }
            &-close {
                opacity: 0;
                position: absolute;
                right: 25px;
                svg {
                    stroke: white;
                    width: 12px;
                    height: 12px;
                    stroke-width: 1.5px;
                }
            }
            &-title {
                padding-bottom: 7.5px;
                img, h3 {
                    text-align: left;
                    vertical-align: middle;
                    display: inline-block;
                }
                h3 {
                    padding-left: 15px;
                }
            }
            &-border {
                width: 1px;
                background-color: white;
                z-index: 9999;
            }
            details {
                padding-top: 20px;
                summary {
                    @extend %font-stack-reg;
                    font-size: 14px;
                    letter-spacing: 2px;
                    list-style-image: none;
                    &::after {
                        position: absolute;
                        content: " ";
                        width: 15px;
                        height: 9px;
                        margin-left: 10px;
                        margin-top: 2px;
                        background-image: url(../assets/image/base/arrow-down.png);
                        background-repeat: no-repeat;
                    }
                    &::-webkit-details-marker {
                        display: none;
                    }
                    &:focus {
                        outline: none;
                        border: none;
                        color: transparent;
                        background-image: none;
                    }
                }
                ul {
                    margin-left: 22px;
                    li {
                        padding-bottom: 15px;
                        padding-left: 10px;
                        list-style-type: disc;
                    }
                } 
            }
        }
        .service__banner--bg-blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: blur(3px);
        }
    }
    .section__content--main {
        h2 {
            text-align:left;
        }
    }
    &.float {
        .service__banner--item-wrapper {
            padding: $content-padding / 2;
            top: 0;
            bottom: unset;
            .service__banner--item {
                $spacing: $content-padding / 4;
                margin: 0 5%;
                padding: 0;
                background: white;
                h1, h2, h3, h4, h5, p {
                    padding: 0 $spacing;
                }
                * {
                    text-align: center;
                }
                &-fg {
                    height: 45vh;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-bottom: $spacing;
                }
                &-title {
                    h3 {
                        @extend %font-stack-reg;
                        font-size: 3rem;
                        margin: 0 auto;
                        padding: 0;
                    }
                }
                p {
                    font-size: 1.5rem;
                }
                .section__content--button-wrapper {
                    padding-bottom: $spacing;
                    padding-top: $spacing / 2;
                }
                .blur {
                    display: none;
                }
            }
        }
    }
    &.services-display {
        .service__banner--item-wrapper {
            position: relative;
        }
        .service__banner--item {
            vertical-align: top;
            margin-top: 0;
        }
        * {
            text-align: center;
            color: $sa-blue;
        }
        h3 {
            @extend %font-stack-reg;
            line-height: 1;
            text-align: center;
            padding: 0;
            &.super {
                padding-bottom: 1rem;
            }
        }
        sub {
            bottom: 0;
            &:not(:first-child) {
                @extend %font-stack-ital;
                font-size: 16px;
                color: $light-brown;
                bottom: 10px;
            }
        }
        p {
            @extend %font-stack-reg;
            padding-bottom: 5px;
        }
        .section__content--main-image {
            width: 100%;
            margin: 20px 0;
            object-fit: cover;
        }
    }
}
.split__banner {
    @extend %full-height-base;
    padding: 0 150px;
    &--main {
        * {
            text-align: left;
        }
    }
    &--sub {
        position: absolute;
        height: 100%;
        top: 0;
        right: 0;
    }
    &--left {
        .split__banner--main {
            padding-right: 10%;
        }
        .split__banner--sub {
            right: 0;
        }
    }
    &--right {
        .split__banner--main {
            padding-left: 10%;
            margin-left: auto;
        }
        .split__banner--sub {
            left: 0;
            right: unset;
        }
    }
}
section:first-of-type {
    h2 {
        padding-top: 0;
        padding-bottom: 0;
    }
}
/**********************************
************INTERACTION************
**********************************/
main[open-scroll] {
    *[data-interaction="fadeElIn"] {
        opacity: 0;
        &[fired] {
            opacity: 1;
        }
    }
    section:first-of-type {
        *[data-interaction="fadeElIn"] {
            opacity: 1;
        }
    }
}
.sectionPin {
    .section__bg--media {
        height: unset;
        width: 100%;
        max-height: 100%;
        object-fit: cover;
        z-index: -998;
    }
    .pinned {
        .section__content--item {
            position: absolute;
        }
        .scrollmagic-pin-spacer {
            display: block !important;
            min-width: 100% !important;
            width: 100% !important;
            max-width: 100% !important;
        }
        div {
            opacity: 0;
        }
        .visible {
            opacity: 1 !important;
        }
        .section__content {
            &--main {
                /*overflow: hidden;*/
                h1 {
                    margin-top: 0;
                    padding-top: 0;
                }
            }
        }
    }
    &.pinFiring {
        .split__banner--sub {
            height: 100vh;
        }
    }
    &.vs {
        min-height: 100vh;
        height: 100vh;
        max-height: 100vh;
        .split__banner--main {
            margin-top: -15%;
        }
    }
}
.slider {
    position: relative;
    z-index: 1;
    .slider-nav {
        padding-left: 85px;
        cursor: pointer;
        z-index: 2;
        div {
            width: 12px;
            height: 12px;
            i {
                @include transition(.25s);
                display: block;
                width: 50%;
                height: 50%;
                margin-top: 25%;
                background-color: white;
                opacity: 0.5;
                border-radius: 50%;
                pointer-events: none;
            }
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;
            vertical-align: middle;
            &.visible {
                margin-right: 24px;
                i {
                    width: 100%;
                    height: 100%;
                    margin: 0;
                    opacity: 1;
                }
            }
        }
    }
    .slider-item {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        img {
            opacity: 0;
        }
        q:before, q:after {
            @include transition(.5s);
        }
        &.visible {
            position: relative;
            opacity: 1;
            img {
                opacity: 1;
            }
        }
        &.changing {
            q:before, q:after {
                opacity: 0;
            }
        }
    }
    &.testimonial {
        .section__content--testimonial  {
            &-title {
                img, h3 {
                    display: inline-block;
                    vertical-align: top
                }
                img {
                    max-width: 60px;
                    max-height: 60px;
                    margin-right: 15px;
                    border-radius: 50%;
                }
                h3 {
                    max-width: calc(100% - 90px);
                    line-height: 1.35;
                }
            }
            p {
                padding-left: 85px;
            }
        }
    }
    &.carousel {
        .slider-item {
            position: relative;
            opacity: 1;
            width: 19%;
            display: inline-block;
            img {
                vertical-align: bottom;
            }
        }
        .slider-nav {
            padding-left: 0;
        }
    }
}
.light {
    .slider {
        .slider-nav {
            div i {
                background-color: $sa-blue;
            }
        }
    }
}
.float {
    padding: 0;
    min-height: 85vh;
    overflow: visible;
    > div,
    > article {
        position: absolute;
        top: 0;
        bottom: unset;
    }
}
.split-line {
    display: inline-block;
    line-height: 1;
}
/**********************************
**************ONE-OFF**************
**********************************/
/**/
/**********************************
***********PAGE*SPECIFIC***********
**********************************/
.home {
    .hero {
        .section__content--main {
            padding: 0;
        }
        .section__content--sub {
            h3 {
                margin: 20px 0;
            }
        }
        .section__bg--media {
            margin-left: -40%;
            width: 150%;
            height: unset;
        }
    }
    .available {
        background-color: #EFEFEF;
        min-height: 75vh;
        article {
            margin-top: 5% !important;
        }
    }
    .every {
        .text__banner--main {
            .nav__item--button-wrapper {
                padding-top: 25px;
            }
            p {
                font-size: 24px;
                line-height: 32px;
            }
            .section__content--button {
                &:first-child {
                    margin-left: 0;
                }
            }
        } 
    }
    .saving {
        height: 115vh;
        .section__content--main {
            padding-bottom: 15%;
        }
    }
    .club {
        .section__content--main {
            padding-bottom: 10px;
        }
    }
    .member {
        center {
            h3 {
                line-height: 1.2;
            }
        }
        .slider-nav {
            display: none;
        }
    }
}
.experience {
    .hero {
        .section__content--main {
            h2 {
                padding: 0;
                line-height: inherit;
            }
        }
    }
    .who {
        .section__content--main {
            padding-top: 10%;
        }
        .section__main--image {
            width: 15vw;
        }
    }
    .vs {
        .section__content--main {
            h1 {
                padding-top: 20px;
            }
            h2 {
                padding-top: 0;
            }
        }
    }
}
.on-demand {
    .hero {
        min-height: 70vh;
        .section__content--main {
            padding: 0;
        }
        .section__bg {
            &--media {
                height: 162.5%;
            }
            &--overlay {
                background-color: rgba(0,0,0,0.2);
            }
        }
    }
    .perfect {
        h2 {
            text-align: center;
        }
        .service__banner--item-title {
            h3 {
                @extend %font-stack-num-reg;
                padding: 0;
            }
        }
        .blur {
            display: none;
        }
    }
    .thousands {
        .section__main--media {
            width: 100%;
        }
    }
    .gang {
        height: 125vh;
        .slider {
            p {
                font-size: 24px;
                line-height: 30px;
                padding: 0;
                &:last-of-type {
                    margin: 2.5rem 0 5rem 0;
                }
            }
            &-nav {
                padding-left: 0;
                padding-top: 1.5rem;
            }
        }
        .section__bg--media {
            height: 125%;
            margin-top: -10%;
        }
    }
    .best {
        h2, p {
            color: $sa-blue;
        }
        .section__content--main {
            padding: 0;
            h2 {
                padding-top: 0;
            }
        }
        .section__content--sub {
            p {
                @extend %font-stack-reg;
                font-size: 22px;
                line-height: 30px;
                padding: 0 4%;
            }
        }
    }
}
.memberships {
    .hero {
        .section__content--main {
            padding: 0;
        }
        .section__content--sub {
            padding: 20px 0 10px 0;
        }
    }
    .individuals {
        padding-right: 4rem;
        padding-left: 4rem;
        .section__content--main {
            width: 25%;
            float: left;
            padding: 0;
            padding-top: 4rem;
        }
        .service__banner--item-wrapper {
            width: 75%;
            float: right;
            article {
                padding: 1rem;
                h3 {
                    @extend %font-stack-num-reg;
                }
                .section__content--button {
                    margin: 0;
                }
                .blur {
                    display: none;
                }
            }
        }
    }
    .companies {
        background-color: $sa-blue;
        .split__banner--sub {
            z-index: 1;
        }
    }
    .more {
        min-height: 120vh;
        .section__content--main {
            h2 {
                padding: 0;
            }
            * {
                text-align: center;
            }
        }
        .service__banner--item-wrapper {
            display: block;
            article {
                width: 33.1333%;
                display: inline-block;
                padding: 2rem;
                p {
                    text-align: left;
                    padding-left: 60px;
                }
            }
        }
    }
    .questions {
        background-color: $sa-blue;
        .split__banner--sub {
            z-index: 1;
        }
    }
    .smartest {
        .section__content--item {
            padding: 0;
        }
        .section__content--button {
            p {
                margin-top: 5rem;
                sub {
                    @extend %font-stack-light;
                }
            }
        }
    }
    .split__banner--main {
        .section__content--main {
            padding: 0;
        }
        p {
            padding-bottom: 10px;
        }
    }
    .section__content:last-of-type {
        min-height: 101vh;   
    }
}
/**********************************
*************RESPONSIVE************
**********************************/
@media screen and (min-height: 850px) {
    .float {
        min-height: 70vh;
    }
}
@media screen and (max-width: 1200px) {
    .section__content {
        padding: 10rem 100px;
    }
    .service__banner {
        &.float {
            .service__banner--item-wrapper {
                padding: 0 5%;
                .service__banner--item {
                    margin: 0;
                    margin-right: 5%;
                    &:last-child {
                        margin-right: 0;
                    }
                    &-title {
                        h3 {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }
    .text__banner {
        &--main {
            width: 50%;
            padding: 0 65px;
        }
        .text__banner--bottom {
            width: 100%;
        }
    }
    .home {
        .available {
            article {
                margin-top: 10% !important;
            }
        } 
    }
}
@media screen and (max-width: 1023px) {
    .section__counter {
        display: none;
    }
    .text__banner {
        padding: 0;
        &--main {
            width: auto;
            height: auto;
            min-height: 60%;
            bottom: 0;
            top: unset;
            padding: 35px 60px !important;
            h1, h2 {
                br { display:none; }
            }
        }
        .text__banner--bottom {
            display: block;
            * {
                flex: unset;
                padding-bottom: 0;
            }
        }
        .section__bg {
            &--media {
                height: 150%;
                margin-top: -45vh;
            }
        }
    }
    .home {
        .text__banner {
            min-height: 101vh;
        }
    }
}
@media screen and (max-width: 900px) {
    .section__content {
        padding: 10rem 50px;
        .section__content--item {
            h3 {
                line-height: 2rem;
            }
        }
        &--button-wrapper {
            .section__content--button {
                width: 75%;
                max-width: 40%;
                margin: 0 10px;
                &-lg {
                    a {
                        font-size:13px;
                    }
                }
            }
        }
    }
    .section__counter {
        display: none;
    }
    .service__banner {
        display: block;
        .service__banner--item-wrapper {
            display: block;
            .service__banner--item {
                width: 100%;
                height: auto !important;
                @include transition(1s);
                display: block;
                padding: 2rem;
                z-index: 3 !important;
                &-inner {
                    display: flex;
                }
                &-title { 
                    width: 40%;
                    padding: 0 0 0 5%;
                    h3 {
                        line-height: 1;
                    }
                }
                p {
                    display: none;
                }
                &-list {
                    padding-top: 0;
                    padding-right: 10%;
                    margin-top: -5px;
                    margin-left: auto;
                    text-align: right;
                    summary {
                        right: 10%;
                        position: absolute;
                        color: transparent;
                        opacity: 1 !important;
                        height: 50px !important;
                        &::after {
                            @include transition(1s);
                            background-image: url(../assets/image/base/mobile-open-icon.png);
                            width: 50px;
                            height: 50px;
                        }
                    }
                    ul {
                        text-align: left;
                    }
                    &[open] {
                        summary::after {
                            transform: rotate(45deg)
                        }
                    }
                }
                &-close {
                    display: none !important;
                }
                &:first-child {
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                }
                &:nth-child(2) {
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: none;
                    border-right: none;
                }
            }
        }
        &.float {
            padding: 10%;
            .service__banner--item-wrapper {
                position: relative;
                .service__banner--item-inner {
                    display: block;
                    h1, h2, h3, h4, h5, p {
                        text-align: center;
                    }
                    p {
                        display: block;
                    }
                    .service__banner--item {
                        &-title {
                            padding: 0;
                            width: 100%;
                        }
                    }
                }
                article {
                    &:first-child {
                        border: 0;
                    }
                    &:not(:first-child) {
                        border: 0;
                        .service__banner--item-fg {
                            content: '';
                            width: 80%;
                            height: 1px;
                            margin: 0 auto;
                            margin-bottom: 50px;
                            background-color: $sa-blue;
                            background-image: none !important;
                        }
                    }
                }
            }
        }
    }
    .split__banner {
        display: block;
        &--main, &--sub {
            display: block;
            width: 100%;
            height: 50vh;
        }
        &--sub {
            bottom: 0;
            top: unset;
        }
    }
    .text__banner {
        min-height: auto;
        &--main {
            .section__content {
                &--media {
                    display: none;
                }
            }
        }
    }
    .home {
        .available {
            article {
                margin-top: 0 !important;
            }
        }
        .saving {
            height: 125vh;
            .section__content--button-wrapper {
                text-align: center;
            }
            .split__banner--main {
                padding: 0;
                .slider {
                    width: 75%;
                    margin: 0 auto;
                }
            }
        }
        .member {
            padding-top: 35%;
            .section__content--item {
                h3 {
                    br { display: none; }
                }
            }
            .slider {
                .slider-item {
                    opacity: 0;
                    width: 100%;
                    position: absolute;
                }
                #slide3 {
                    position: relative;
                    opacity: 1;
                }
                .slider-nav {
                    display: block;
                }
            }
        }
    }
}
@media screen and (max-width: 700px) {
    .service__banner {
        .service__banner--item-wrapper {
            .service__banner--item {
                &-inner {
                    display: block;
                    * {
                        display: inline-block;
                    }
                }
                &-title {
                    width: 75%;
                    padding: 0;
                }
                &-list {
                    summary {
                        top: 0;
                    }
                    ul {
                        padding: 30px 0 0 50px;
                        margin: 0;
                    }
                }
            }
        }
        &.float {
            padding: 0;
            .service__banner--item-wrapper {
                padding: 0;
                .service__banner--item-inner {
                    * {
                        display: block;
                    }
                    .section__content--button {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    .who {
        h4 {
            font-family: "Kievit-light", "Open Sans", Helvetica, Arial, sans-serif;
            font-size: 15px;
        }
    }
}
@media screen and (max-width: 600px) {
    .section__content {
        padding: 35vh 25px 10rem 25px;
        &--main {
            h5 {
                margin-bottom: 12.5px;
            }
            h2, h3, h4, h5 {
                br {
                    display: none;
                }
            }
        }
        &--main, &--item {
            padding-bottom: 10px;
        }
        &--button-wrapper {
            .section__content--button {
                max-width: unset;
            }
        }
    }
    .cta__banner {
        &--content {
            position: unset;
        }
        .section__content--button-wrapper {
            position: absolute;
            width: 100%;
            bottom: 5vh;
            left: 0;
            .section__content--button {
                margin-top: 20px;
            }
        }
    }
    .service__banner {
        .service__banner--item-wrapper {
            .service__banner--item {
                padding: 1.25rem;
                &-list {
                    summary {
                        top: -2px;
                        right: 15%;
                    }
                    ul {
                        padding-left: 0;
                        padding-bottom: 1rem;
                    }
                }
            }
        } 
    } 
    .split__banner {
        padding: 0;
        &--main, &--sub {
            height: unset;
        }
        &--main {
            padding: 20vh 25px 5vh 25px;
        }
        &--sub {
            position: relative;
            min-height: 60vh;
        }
    }
    .text__banner {
        padding: 42vh 0 0;
        &--main {
            position: relative;
            margin-top: auto;
            padding: 35px !important;
        }
    }
    .home {
        .hero {
            padding: 35vh 50px 10rem 50px;
        }
        .saving {
            .split__banner--main {
                padding: 15% 10% 10% 10%;
                h2 {
                    text-align: center;
                }
                .slider {
                    width: 100%;
                    * {
                        text-align: center;
                        padding: 0;
                    }
                    .section__content--testimonial-title {
                        img, h3 {
                            display: block;
                            margin: 0 auto;
                        }
                        p {
                            padding-top: 20px;
                        }
                    }
                    .slider-nav {
                        padding-top: 35px;
                    }
                }
            }
        }
        .club {
            min-height: 75vh;
            center {
                position: absolute;
                width: 90%;
                left: 0;
                right: 0;
                bottom: 5%;
                .section__content--main {
                    padding-bottom:35px;
                }
                .section__content--button-wrapper {
                    position: relative;
                }
            }
        }
        .member {
            .slider {
                padding-top: 15px;
                .slider-nav {
                    padding-top: 35px;
                }
            }
        }
    }
    .experience {
        .welcome {
            padding-top: 10vh;
            min-height: 85vh;
        }
    }
}