@import "base/fonts";
@import "base/variables";
@import "base/typography";
@import "base/kindling";
@import "navigation";

.cta__banner {
    height: 100vh;
    position: relative;
    overflow: hidden;
    &--content {
        z-index: 1;
        margin: 0 auto;
        position: relative;
        padding-top: 15%;
        h1 {
            margin: 13px 0;
        }
    }
    &--bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
}