@import "https://fonts.googleapis.com/css?family=Open+Sans";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");
@font-face {
  font-family: "Kievit-light";
  src: url("../../assets/fonts/FFKievitWebProLight.woff2") format("woff2");
}
@font-face {
  font-family: "Kievit-ital";
  src: url("../../assets/fonts/FFKievitWebProItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Kievit-reg";
  src: url("../../assets/fonts/FFKievitWebPro.woff2") format("woff2");
}
@font-face {
  font-family: "Kievit-bold";
  src: url("../../assets/fonts/FFKievitWebProBold.woff2") format("woff2");
}
@font-face {
  font-family: "Klavika-bold";
  src: url("../../assets/fonts/Klavika-bold.woff2") format("woff2");
}
/*COLORS*/
/*FONTS*/
.nav__sub--item, p, li, h3, h2 {
  font-family: "Kievit-light", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}

p sub, li sub, h6 {
  font-family: "Kievit-ital", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.service__banner--item-wrapper .service__banner--item details summary, .nav__main .nav__item, .nav__sub .nav__item, h4 {
  font-family: "Kievit-reg", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav__item--button, h5 {
  font-family: "Kievit-bold", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1 {
  font-family: "Klavika-bold", "Titillium Web", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, em, body, html, input, textarea, strong {
  color: white;
  padding: 0;
  margin: 0;
  font-kerning: normal;
  text-align: left;
}

h1 {
  font-size: calc(54px + (86 - 54) * ((99vw - 300px) / (1900 - 300)));
  font-weight: 800;
  letter-spacing: 1px;
  margin: 25px 0 20px 0;
  line-height: 58px;
  text-align: center;
}

h2 {
  font-size: calc(30px + (65 - 30) * ((99vw - 300px) / (1900 - 300)));
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

h3 {
  font-size: calc(24px + (34 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-weight: 200;
  line-height: 3.5rem;
}

h4 {
  font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1900 - 300)));
  font-style: normal;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

h5 {
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-weight: 400;
  letter-spacing: 4.21px;
  line-height: 16.8px;
  text-align: center;
}

h6 {
  font-size: calc(13px + (15 - 13) * ((100vw - 300px) / (1900 - 300)));
  color: black;
  font-style: italic;
}

p, li {
  font-size: 20px;
  font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (1900 - 300)));
  letter-spacing: 0.03rem;
  font-style: normal;
  line-height: 25px;
}
p sub, li sub {
  font-size: 20px;
  letter-spacing: 0.06rem;
}

a {
  text-decoration: none;
}

.light h1, .light h2, .light h3, .light h4, .light h5, .light h6, .light p, .light li, .light a {
  color: #0A253E;
}

@media screen and (max-width: 600px) {
  h5 {
    letter-spacing: 2.22px;
  }
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/*Universal*/
html, body {
  margin: 0;
  padding: 0;
}

.inline {
  display: inline-block;
}

.flex-v, .flex-v[class*=span] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

.flex-h, .flex-h[class*=span] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  resize: horizontal;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.transition {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1);
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.15);
}

.lock {
  overflow-y: hidden;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .blur {
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}
.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333332%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-0 {
  width: 4%;
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 49.66666666%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 32.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media screen and (max-width: 700px) {
  .col-xs-12,
.col-xs-11,
.col-xs-10,
.col-xs-9,
.col-xs-8,
.col-xs-7,
.col-xs-6,
.col-xs-5,
.col-xs-4,
.col-xs-3,
.col-xs-2,
.col-xs-1,
.col-xs-0 {
    width: 100%;
  }
}
.nav__main .nav__item, .nav__sub .nav__item {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 2.5px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.nav__main .nav__item p, .nav__sub .nav__item p {
  display: inline-block;
}
.nav__main .nav__item svg, .nav__sub .nav__item svg {
  vertical-align: middle;
}
.nav__sub--item {
  font-weight: 300;
}
.nav__sub .button a {
  color: black;
}
.nav__mobile {
  display: none;
  pointer-events: none;
}
.nav__item--button {
  text-align: center;
  /*&-lg {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 2.5px;
      line-height: 1;
      padding: 10px 90px;
      border-radius: 25px;
  }*/
}
.nav__item--button-sm {
  padding: 12px 20px 10px 20px;
  border-radius: 25px;
}
.nav__item--button-sm a, .nav__item--button-lg a {
  color: #0A253E;
  text-decoration: none;
}
.nav__item--button-solid {
  color: black;
  background-color: #FFFFFF;
}
.nav__item--button-transparent {
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
.nav__item--button-naked {
  color: black;
  background-color: transparent;
  border: none;
}

.header__nav {
  margin: 0 auto;
  padding: 23px 40px 0 40px;
  align-items: center;
  position: fixed;
  z-index: 1002;
}
.header__nav .nav__logo {
  margin-right: auto;
}
.header__nav .nav__logo--image {
  width: 115px;
  height: 28px;
  object-fit: contain;
}
.header__nav .nav__main p, .header__nav .nav__sub p {
  display: inline-block;
}
.header__nav .nav__main {
  position: absolute;
  margin: 0 auto;
}
.header__nav .nav__sub svg {
  margin-right: 5px;
}
.header__nav .nav__sub .button a {
  color: black;
}
.header__nav .nav__item {
  text-align: center;
  margin: 0 7.5px;
  vertical-align: middle;
}
.header__nav .blur {
  display: none;
}
.header__nav.active {
  background: #264562;
  padding: 15px 40px 15px;
}
.header__nav.active .nav__item--button {
  padding: 10px 20px 8px 20px;
}

.footer__nav {
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #0A253E;
}
.footer__nav p, .footer__nav nav, .footer__nav div {
  vertical-align: middle;
}
.footer__nav p {
  margin-right: auto;
  margin-left: 35px;
  font-size: 12px;
  vertical-align: middle;
}
.footer__nav nav {
  position: absolute;
  margin: 0 auto;
}
.footer__nav nav a {
  font-size: 10px;
  margin: 0 10px;
}
.footer__nav .footer__social {
  margin-left: auto;
  margin-right: 25px;
}
.footer__nav .footer__social--icon {
  margin-left: 35px;
}

@media screen and (max-width: 1400px) {
  .header__nav .nav__main {
    position: relative;
  }
}
@media screen and (max-width: 1160px) {
  .header__nav {
    padding: 15px 20px 15px !important;
  }
  .header__nav .nav__item {
    font-size: 10px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 1023px) {
  .header__nav {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1);
  }
  .header__nav.open {
    background-color: rgba(255, 255, 255, 0.5) !important;
  }
  .header__nav.open .nav__main, .header__nav.open .nav__sub {
    position: relative !important;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
  }
  .header__nav.open .nav__main p, .header__nav.open .nav__sub p {
    display: block;
    text-align: center;
    padding-bottom: 7%;
  }
  .header__nav.open .nav__main p .nav__item, .header__nav.open .nav__sub p .nav__item {
    font-size: 16px;
  }
  .header__nav.open .nav__main {
    height: 65vh;
    padding-top: 25%;
  }
  .header__nav.open .nav__sub {
    height: 30vh;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    justify-content: center;
    resize: vertical;
  }
  .header__nav.open .nav__sub .text {
    order: 2;
  }
  .header__nav.open .nav__sub .text:first-child {
    display: none;
  }
  .header__nav.open .nav__sub .nav__item--button {
    padding: 12px 25px 10px 25px;
  }
  .header__nav .nav__mobile {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
  }
  .header__nav .nav__mobile > div {
    width: 35px;
    height: 2px;
    background-color: white;
  }
  .header__nav .nav__mobile > div:nth-child(2) {
    margin: 6px 0;
  }
  .header__nav .nav__main, .header__nav .nav__sub {
    display: none;
  }
  .header__nav .blur {
    display: block;
  }
}
/**********************************
***************MACROS**************
**********************************/
.split__banner, .service__banner, .text__banner, .cta__banner {
  position: relative;
  min-height: 101vh;
  overflow: hidden;
  padding: 0 200px;
}

/**********************************
**************UNIVERSAL************
**********************************/
.section__content {
  padding-top: 10rem;
}
.section__content--item {
  padding-bottom: 25px;
}
.section__content--main {
  padding-bottom: 35px;
}
.section__content--main h5 {
  margin-bottom: 17.5px;
}
.section__content--main h2 {
  padding: 20px 0;
}
.section__content--media .main__image {
  max-width: max-content;
}
.section__content--button-wrapper {
  padding-top: 15px;
}
.section__content--button-wrapper .section__content--button-lg {
  position: relative;
  width: 260px;
  height: 45px;
  border-radius: 25px;
  color: #FFFFFF;
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
.section__content--button-wrapper .section__content--button-lg a {
  left: 0;
  text-align: center;
  width: 100%;
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2.5px;
  line-height: 43px;
  border: none;
}
.section__content--sub-title img, .section__content--sub-title h3 {
  display: inline-block;
  vertical-align: middle;
}
.section__content--sub-title img {
  margin-right: 15px;
}
.section__content:last-of-type {
  height: calc(100vh - 100px);
}

.section__counter {
  width: 20px;
  height: max-content;
  position: fixed;
  left: 20px;
  top: 40%;
  z-index: 999;
}
.section__counter div {
  cursor: pointer;
  height: 6px;
  width: 6px;
  margin: 26px 3px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
.section__counter div.active {
  background-color: white;
  width: 12px;
  height: 12px;
  margin: 20px 0;
}
.section__counter.dark div {
  background-color: #264562;
}

.section__bg {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -999;
}
.section__bg--media {
  height: 100%;
  object-fit: cover;
  z-index: -998;
}

/**********************************
*********SECTION*SPECIFIC**********
**********************************/
.cta__banner--content {
  z-index: 1;
  margin: 0 auto;
  position: relative;
}
.cta__banner--content h1 {
  margin: 13px 0;
}

.text__banner--main {
  position: absolute;
  height: 100%;
  top: 0;
}
.text__banner--main * {
  text-align: left;
}
.text__banner--right {
  right: 0;
}
.text__banner--left {
  left: 0;
}
.text__banner > .col-xs-1, .text__banner > .col-xs-2, .text__banner > .col-xs-3, .text__banner > .col-xs-4, .text__banner > .col-xs-5 {
  padding: 0 65px;
}
.text__banner > .col-xs-6, .text__banner > .col-xs-7, .text__banner > .col-xs-8, .text__banner > .col-xs-9, .text__banner > .col-xs-10 {
  padding: 0 115px 0 150px;
}
.text__banner .nav__item--button-wrapper {
  padding-top: 60px;
}

.service__banner--item-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.service__banner--item-wrapper .service__banner--item {
  position: relative;
  padding: 2.5rem 2.5rem 4rem 2.5rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: auto;
  z-index: 2;
  vertical-align: bottom;
  cursor: pointer;
  flex: 1;
  height: unset;
}
.service__banner--item-wrapper .service__banner--item:first-child {
  border: none;
}
.service__banner--item-wrapper .service__banner--item:last-child {
  border: none;
}
.service__banner--item-wrapper .service__banner--item-inner {
  position: relative;
}
.service__banner--item-wrapper .service__banner--item-close {
  opacity: 0;
  position: absolute;
  right: 25px;
}
.service__banner--item-wrapper .service__banner--item-close svg {
  stroke: white;
  width: 12px;
  height: 12px;
  stroke-width: 1.5px;
}
.service__banner--item-wrapper .service__banner--item-title {
  padding-bottom: 7.5px;
}
.service__banner--item-wrapper .service__banner--item-title img, .service__banner--item-wrapper .service__banner--item-title h3 {
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}
.service__banner--item-wrapper .service__banner--item-title h3 {
  padding-left: 15px;
}
.service__banner--item-wrapper .service__banner--item-border {
  width: 1px;
  background-color: white;
  z-index: 9999;
}
.service__banner--item-wrapper .service__banner--item details {
  padding-top: 20px;
}
.service__banner--item-wrapper .service__banner--item details summary {
  font-size: 14px;
  letter-spacing: 2px;
  list-style-image: none;
}
.service__banner--item-wrapper .service__banner--item details summary::after {
  position: absolute;
  content: " ";
  width: 15px;
  height: 9px;
  margin-left: 10px;
  margin-top: 2px;
  background-image: url(../assets/image/general/arrow-down.png);
  background-repeat: no-repeat;
}
.service__banner--item-wrapper .service__banner--item details summary::-webkit-details-marker {
  display: none;
}
.service__banner--item-wrapper .service__banner--item details summary:focus {
  outline: none;
  border: none;
  color: transparent;
  background-image: none;
}
.service__banner--item-wrapper .service__banner--item details ul {
  margin-left: 22px;
}
.service__banner--item-wrapper .service__banner--item details ul li {
  padding-bottom: 15px;
  padding-left: 10px;
  list-style-type: disc;
}
.service__banner--item-wrapper .service__banner--bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(3px);
}
.service__banner .section__content--main h2 {
  text-align: left;
}

.split__banner {
  padding: 0 150px;
}
.split__banner--main * {
  text-align: left;
}
.split__banner--sub {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}

/**********************************
***********PAGE*SPECIFIC***********
**********************************/
.home section.cta__banner.hero .section__content--main {
  padding: 0;
}

.experience .hero .section__content--main h2 {
  padding: 0;
  line-height: inherit;
}
.experience .who .section__main--image {
  width: 15vw;
}
.experience .vs .section__content--main h1 {
  padding-top: 20px;
}
.experience .vs .section__content--main h2 {
  padding-top: 0;
}

/**********************************
*************RESPONSIVE************
**********************************/
@media screen and (max-width: 1200px) {
  .section__content {
    padding: 10rem 100px;
  }

  .text__banner--main {
    width: 50%;
    padding: 0 65px;
  }
}
@media screen and (max-width: 1023px) {
  .text__banner {
    padding: 0;
  }
  .text__banner--main {
    width: auto;
    height: auto;
    min-height: 60%;
    bottom: 0;
    top: unset;
    padding: 35px 60px !important;
  }
  .text__banner--main h1 br, .text__banner--main h2 br {
    display: none;
  }
  .text__banner .section__bg--media {
    height: 150%;
    margin-top: -45vh;
  }
}
@media screen and (max-width: 900px) {
  .section__content {
    padding: 10rem 50px;
  }
  .section__content--button-wrapper .section__content--button-lg a {
    font-size: 13px;
  }

  .section__counter {
    display: none;
  }

  .service__banner {
    display: block;
  }
  .service__banner .service__banner--item-wrapper {
    display: block;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item {
    width: 100%;
    height: auto !important;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1);
    display: block;
    padding: 2rem;
    z-index: 3 !important;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-inner {
    display: flex;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-title {
    width: 40%;
    padding: 0 0 0 5%;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-title h3 {
    line-height: 1;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item p {
    display: none;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list {
    padding-top: 0;
    padding-right: 10%;
    margin-top: -5px;
    margin-left: auto;
    text-align: right;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list summary {
    right: 10%;
    position: absolute;
    color: transparent;
    opacity: 1 !important;
    height: 50px !important;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list summary::after {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s;
    transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1);
    background-image: url(../assets/image/base/mobile-open-icon.png);
    width: 50px;
    height: 50px;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list ul {
    text-align: left;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list[open] summary::after {
    transform: rotate(45deg);
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-close {
    display: none !important;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
  .service__banner .service__banner--item-wrapper .service__banner--item:nth-child(2) {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    border-right: none;
  }

  .split__banner {
    display: block;
  }
  .split__banner--main, .split__banner--sub {
    display: block;
    width: 100%;
    height: 50vh;
  }
  .split__banner--sub {
    bottom: 0;
    top: unset;
  }
}
@media screen and (max-width: 700px) {
  .service__banner .service__banner--item-wrapper .service__banner--item-inner {
    display: block;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-inner * {
    display: inline-block;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-title {
    width: 75%;
    padding: 0;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list summary {
    top: 0;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list ul {
    padding: 30px 0 0 50px;
    margin: 0;
  }

  .who h4 {
    font-family: "Kievit-light", "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
  }
}
@media screen and (max-width: 600px) {
  .section__content {
    padding: 35vh 25px 10rem 25px;
  }
  .section__content--main h5 {
    margin: 0;
  }
  .section__content--main h2 br, .section__content--main h3 br, .section__content--main h4 br, .section__content--main h5 br {
    display: none;
  }
  .section__content--main, .section__content--item {
    padding-bottom: 10px;
  }

  .service__banner .service__banner--item-wrapper .service__banner--item {
    padding: 1.25rem;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list summary {
    top: -2px;
    right: 15%;
  }
  .service__banner .service__banner--item-wrapper .service__banner--item-list ul {
    padding-left: 0;
    padding-bottom: 1rem;
  }

  .split__banner {
    padding: 0;
  }
  .split__banner--main, .split__banner--sub {
    height: unset;
  }
  .split__banner--main {
    padding: 20vh 25px 5vh 25px;
  }
  .split__banner--sub {
    position: relative;
    min-height: 50vh;
  }

  .text__banner {
    padding: 42vh 0 0;
  }
  .text__banner--main {
    position: relative;
    margin-top: auto;
    padding: 35px !important;
  }

  .welcome {
    padding-top: 10vh;
  }
}

/*# sourceMappingURL=output.css.map */
