@import "https://fonts.googleapis.com/css?family=Open+Sans";
@font-face {
  font-family: "Kievit-light";
  src: url("../../assets/fonts/FFKievitWebProLight.woff2") format("woff2");
}
@font-face {
  font-family: "Kievit-ital";
  src: url("../../assets/fonts/FFKievitWebProItalic.woff2") format("woff2");
}
@font-face {
  font-family: "Kievit-reg";
  src: url("../../assets/fonts/FFKievitWebPro.woff2") format("woff2");
}
@font-face {
  font-family: "Kievit-bold";
  src: url("../../assets/fonts/FFKievitWebProBold.woff2") format("woff2");
}
/*COLORS*/
/*FONTS*/
h3, h1, h2 {
  font-family: "Kievit-light", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
}

h6 {
  font-family: "Kievit-ital", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.nav__item, p, h4 {
  font-family: "Kievit-reg", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav__item--button-lg, h5 {
  font-family: "Kievit-bold", "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, em, body, html, input, textarea, strong {
  color: white;
  padding: 0;
  margin: 0;
  font-kerning: normal;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1, h2 {
  font-size: calc(36px + (70 - 36) * ((99vw - 300px) / (1900 - 300)));
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 71px;
  text-align: center;
}

h3 {
  font-size: calc(32px + (44 - 32) * ((100vw - 300px) / (1900 - 300)));
  line-height: 3.5rem;
}

h4 {
  font-size: 22px;
  font-style: normal;
  letter-spacing: 2px;
}

h5 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4.21px;
  line-height: 16.8px;
  text-align: center;
}

h6 {
  color: black;
  font-size: 15px;
  font-style: italic;
}

p {
  font-size: 18px;
  letter-spacing: 0.11rem;
  font-style: normal;
  line-height: 36px;
}

ul, ul li {
  font-size: 19px;
  line-height: 32px;
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/*Universal*/
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.inline {
  display: inline-block;
}

.flex-v, .flex-v[class*=span] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
}

.flex-h, .flex-h[class*=span] {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  resize: horizontal;
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.transition {
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15;
  -ms-transition: all 0.15s;
  transition: all 0.15s;
  transition-timing-function: cubic-bezier(0.25, 0.25, 0.005, 1);
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11-2 {
  width: 95.66666667%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10-2 {
  width: 87.66666665%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9-2 {
  width: 79.66666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8-2 {
  width: 70%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7-2 {
  width: 62.33333333%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6-2 {
  width: 54.66666666%;
}

.col-xs-6 {
  width: 49.66666666%;
}

.col-xs-5-2 {
  width: 45.66666667%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4-2 {
  width: 37.33333333%;
}

.col-xs-4 {
  width: 32.33333333%;
}

.col-xs-3-2 {
  width: 30.66666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2-2 {
  width: 23%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1-2 {
  width: 12.33333333%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-0 {
  width: 4%;
}

/*Responsive*/
@media screen and (max-width: 768px) {
  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 49.66666666%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 32.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}
.nav__item {
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 2.5px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.nav__item--button-lg {
  text-align: center;
  padding: 10px 20px;
  border-radius: 17.5px;
}
.nav__item--button-lg a {
  color: #0A253E;
  text-decoration: none;
}
.nav__item--button-solid {
  color: black;
  background-color: #FFFFFF;
}
.nav__item--button-transparent {
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}

.header__nav {
  margin: 0 auto;
  padding: 23px 40px 0 40px;
  align-items: center;
  position: fixed;
  z-index: 2;
}
.header__nav .nav__logo {
  margin-right: auto;
}
.header__nav .nav__logo--image {
  width: 115px;
  height: 28px;
  object-fit: contain;
}
.header__nav .nav__main {
  margin: 0 auto;
}
.header__nav .nav__item {
  text-align: center;
  margin: 0 7.5px;
  vertical-align: middle;
}

.service__banner, .cta__banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.cta__banner--content {
  z-index: 1;
  margin: 0 auto;
  position: relative;
  padding-top: 15%;
}
.cta__banner--content h1 {
  margin: 13px 0;
}
.cta__banner--bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/*# sourceMappingURL=output.css.map */
