@import "https://fonts.googleapis.com/css?family=Open+Sans";
@font-face {
    font-family: 'Kievit-light';
    src: url('../../assets/fonts/FFKievitWebProLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Kievit-ital';
    src: url('../../assets/fonts/FFKievitWebProItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'Kievit-reg';
    src: url('../../assets/fonts/FFKievitWebPro.woff2') format('woff2');
}
@font-face {
    font-family: 'Kievit-bold';
    src: url('../../assets/fonts/FFKievitWebProBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Klavika-light';
    src: url('../../assets/fonts/Klavika-light.woff2') format('woff2');
}
@font-face {
    font-family: 'Klavika-regular';
    src: url('../../assets/fonts/Klavika-regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Klavika-bold';
    src: url('../../assets/fonts/Klavika-bold.woff2') format('woff2');
}