/*COLORS*/
$text-default: #404040;
$mid-blue: #264562;
$off-white: #EFEFEF;
$dark-grey: #333333;
$med-grey: #666666;
$light-grey: #999999;
$pale-grey: #DEDEDE;
/*FONTS*/
$font-stack: "Open Sans", "Arial", "Helvetica", sans-serif