{% set pageTitle = "home" %}
{% extends "layout.njk" %}

{% block Title %}
  {% import 'macros/page_title.njk' as Title %}
    {{ Title.active(pageTitle) }}
{% endblock %}

{% block header %}
  {% import 'macros/header_navigation.njk' as nav %}
    {{ nav.active(pageTitle) }}
{% endblock %}

{% block content %}

  <!--{% include "partials/ctaBanner_centerAlign_fullHeight.njk" %}-->
  {% import 'macros/ctaBanner_centerAlign_fullHeight.njk' as hero %}
    {{ hero.target(
      pageTitle = pageTitle,
      ctaName = 'hero',
      subTitle = 'PERSONALIZED AVIATION SETS YOU FREE', 
      mainTitle = 'Better travel for the modern world',
      btnType = 'transparent',
      btnHref = '#',
      btnText = 'SIGN UP',
      bgImgSrc = 'assets/image/home_hero.jpg',
      bgImgAlt = 'Surf Air description goes here for SEO and screen readers'
    ) }}
  
  {% set sectionRef = "welcome" %}
    {% include "partials/aboutServices_fullHeight.njk" %}

  {% set sectionRef = "why" %}
    {% include "partials/textBanner_rightAlign_fullHeight.njk" %}

  {% set sectionRef = "who" %}
    {% include "partials/textBanner_leftAlign_fullHeight.njk" %}

  {% set sectionRef = "vs" %}
    {% include "partials/textBanner_leftAlign_fullHeight.njk" %}

  {% include "partials/floatingsection_counter.njk" %}

{% endblock %}

{% block footer %}
{% endblock %}