<div class="section__content--item section__content--media"{% if section['onenter'] != false %} data-interaction="{{section['onenter']}}"{% endif %}>
{% for media in content.media %} 
    {% if media.mainVideoMP4 %}
        <video class="{{ sectionRef }}__video main__video section__main--media section__main--video col-xs-12" poster="{{media.mainVideoPoster}}" muted autoplay preload>
            {% if media.mainVideoWEBM %}
                <source src="{{media.bmainVideoWEBM}}.webm" type="video/webm">
            {% endif %}
            {% if media.mainVideoOGG %}
                <source src="{{media.mainVideoOGG}}.ogv" type="video/ogg">
            {% endif %}
            {% if media.mainVideoMP4 %}
                <source src="{{media.mainVideoMP4}}.mp4" type="video/mp4">
            {% endif %}
        </video>
    {% endif %}
    {% if media.mainImageSrc %}
        <img class="{{ sectionRef }}__image main__image section__main--media section__main--image col-xs-9" src="{{media.mainImageSrc}}" alt="{{media.mainImageAlt}}" />
    {% endif %}
{% endfor %}
</div>