<p class="mobile-more">view inclusions</p>
<div class="services-table">
    <div class="service__banner--table-item" data-interaction="fadeElIn">
        <h4><strong>Scheduled</strong></h4>
        <div class="services-table-row">
            <p>Off-peak seats <i></i></p>
            <div class="row-item">
                <p><strong>$99+</strong></p>
                <p><strong>Free</strong></p>
                <p><strong>Free</strong></p>
                <p><strong>Free</strong></p>
            </div>
        </div>
        <div class="services-table-row">
            <p>Peak seats <i></i></p>
            <div class="row-item">
                <p><strong>$399+</strong></p>
                <p><strong>$299+</strong></p>
                <p><strong>Free*</strong></p>
                <p><strong>Free</strong></p>
            </div>
        </div>
    </div>
    <div class="service__banner--table-item" data-interaction="fadeElIn">
        <h4><strong>On Demand</strong></h4>
        <div class="services-table-row">
            <p>Hourly rates <i></i></p>
            <div class="row-item">
                <p><strong>$599+</strong></p>
                <p><strong>$575+</strong></p>
                <p><strong>$555+</strong></p>
                <p><strong>$499+</strong></p>
            </div>
        </div>
        <div class="services-table-row">
            <p>Bonus credit (yearly) <i></i></p>
            <div class="row-item">
                <p><strong>&mdash;</strong></p>
                <p><strong>&mdash;</strong></p>
                <p><strong>$1000+</strong></p>
                <p><strong>$2000+</strong></p>
            </div>
        </div>
    </div>
    <div class="service__banner--table-item" data-interaction="fadeElIn">
        <h4><strong>Add ons</strong></h4>
        <div class="services-table-row">
            <p>Family Members (monthly) <i></i></p>
            <div class="row-item">
                <p><strong>&mdash;</strong></p>
                <p><strong>$299</strong></p>
                <p><strong>$499</strong></p>
                <p><strong>$699</strong></p>
            </div>
        </div>
    </div>
    <p><sub>* With advance booking</sub></p>
</div>