{% extends "layout.njk" %}

{% block Title %}
  {% import 'macros/page_title.njk' as Title %}
    {{Title.active('experience')}}
{% endblock %}

{% block header %}
  {% import 'macros/header_navigation.njk' as nav %}
    {{nav.active('experience')}}
{% endblock %}

{% block content %}
  {% for bannerText in homeHeroBanner %}
    <h1>{{bannerText.title}}</h1>
  {% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}