{% extends "layout.njk" %}

{% block Title %}
  {% import 'macros/page_title.njk' as Title %}
    {{Title.active('home')}}
{% endblock %}

{% block header %}
  {% import 'macros/header_navigation.njk' as nav %}
    {{nav.active('home')}}
{% endblock %}

{% block content %}
  {% include "partials/heroBanner_fullHeight.njk" %}
{% endblock %}

{% block footer %}
{% endblock %}