{% extends "layout.njk" %}
{% block header %}
  {% import 'macros/header_navigation.njk' as nav %}
    {{nav.active('home')}}
{% endblock %}
{% block content %}
  <h1>Better travel for the modern world</h1>
{% endblock %}
{% block footer %}
{% endblock %}