{% macro target( pageTitle, ctaName, subTitle, mainTitle, btnType, btnHref, btnText, bgImgSrc, bgImgAlt ) %}
<section class="cta__banner cta__banner--{{ ctaName }} cta__banner--{{ pageTitle }} col-xs-12">
    <center class="cta__banner--content col-xs-11 col-sm-11">
        <h5>{{ subTitle }}</h5>
        <h1>{{ mainTitle }}</h1>
        <a class="nav__item nav__item--button-lg nav__item--button-{{btnType}}" href="{{ btnHref }}">{{ btnText }}</a>
    </center>
    <div class="cta__banner--bg col-xs-12">
        {% if bgVideoMP4 %}
            <video class="bg__video cta__banner--media cta__banner--bg-video" poster="{{bgVideoPoster}}" muted autoplay preload>
                {% if bgVideoWEBM %}
                    <source src="{{bgVideoWEBM}}.webm" type="video/webm">
                {% endif %}
                {% if bgVideoOGG %}
                    <source src="{{bgVideoOGG}}.ogv" type="video/ogg">
                {% endif %}
                {% if bgVideoMP4 %}
                    <source src="{{bgVideoMP4}}.mp4" type="video/mp4">
                {% endif %}
            </video>
        {% endif %}
        {% if bgImgSrc %}
            <img class="bg__image cta__banner--media cta__banner--bg-image" src="{{bgImgSrc}}" alt="{{bgImgAlt}}" />
        {% endif %}
    </div>
</section>
{% endmacro %}