<article class="service__banner--item service__banner--item-{{loop.index}} col-xs-{{12 / loop.length}}"{% if section['onclick'] != false %} onclick="{{section['onclick']}}"{% endif %}{% if section['onenter'] != false %} data-interaction="{{section['onenter']}}"{% endif %}>
    <div class="service__banner--item-inner">
        {% if section['onclick'] != false -%}
            <div class="service__banner--item-close">
                <svg viewPort="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg"><line x1="1" y1="11" x2="11" y2="1"/><line x1="1" y1="1" x2="11" y2="11"/></svg>
            </div>
        {%- endif %}
        {% if list.fgImageSrc -%}
            <div class="service__banner--item-fg" style="background-image:url({{ list.fgImageSrc }})"></div>
        {%- endif %}
        {% if list.superTitle -%}
            <h3 class="super">{{list.superTitle | safe}}</h3>
        {% endif %}
        {% if list.mainTitle -%}
            <div class="service__banner--item-title">
                {% if list.mainTitleIcon %}
                    <img class="section__content--sub-icon" src="{{list.mainTitleIcon}}" />
                {% endif %}
                <h3>{{list.mainTitle | safe}}</h3>
            </div>
        {%- endif %}
        {% if list.mainImageSrc -%}
            <img class="section__content--main-image" src="{{list.mainImageSrc}}" />
        {% endif %}
        {% if list.mainCopy -%}
            {% for value, item in list.mainCopy %}
                <p>{{item | safe}}</p>
            {% endfor %}
        {%- endif %}
        {% if list.listItems -%}
            <details class="service__banner--item-list">
                <summary>{{list.btnText | safe}}</summary>
                <ul>
                {% for value, item in list.listItems %}
                    <li>{{item | safe}}</li>
                {% endfor %}
                </ul>
            </details>
        {%- endif %}
        {% if list.btn %}
            {% set btnRef = list %}
            {% include "components/_text_button.njk" %}
        {% endif %}
    </div>
    <div class="blur col-xs-12">
        <svg>
            <filter id="blur">
                <feGaussianBlur stdDeviation="5" />
            </filter>
        </svg>
    </div>
</article>
{#{% if loop.index != loop.length %}
    <div class="service__banner--item-border"></div>
{% endif %}#}