<div class="section__content--item section__content--main">
{% for main in content.main %}
    {% if main.miniTitle -%}
        <h5{% if section['onenter'] != false %} data-interaction="{{section['onenter']}}"{% endif %}>{{main.miniTitle | safe}}</h5>
    {%- endif %}
    {% if main.superTitle -%}
        <h1{% if section['onenter'] != false %} data-interaction="{{section['onenter']}}"{% endif %}>{{main.superTitle | safe}}</h1>
    {%- endif %}
    {% if main.mainTitle -%}
        <h2{% if section['onenter'] != false %} data-interaction="{{section['onenter']}}"{% endif %}>{{main.mainTitle | safe}}</h2>
    {%- endif %}
    {% if main.subTitle -%}
        <h4{% if section['onenter'] != false %} data-interaction="{{section['onenter']}}"{% endif %}>{{main.subTitle | safe}}</h4>
    {%- endif %}
    {% if main.pin %}
        {% set pinRef = main %}
        {% include "components/_pinning_item.njk" %}
    {% endif %}
    {% if main.btn -%}
        {% set btnRef = main %}
        {% include "components/_text_button.njk" %}
    {%- endif %}
{% endfor %}
</div>