<div class="section__content--button-wrapper nav__item--button-wrapper">
    {% for value, item in btnRef.btn %}
    <div class="section__content--button section__content--button-{{ item.btnSize }}"{% if section['onenter'] == 'fadeElIn' %} data-interaction="{{section['onenter']}}"{% endif %}>
        {% if item.btnMainCopy %}
            <p>{{ item.btnMainCopy | safe }}</p>
        {% endif %}
        <a class="nav__item nav__item--button nav__item--button-{{ item.btnSize }} nav__item--button-{{ item.btnType }}" href="{{ item.btnHref }}">{{ item.btnText | safe }}</a>
        {% if item.btnSubCopy %}
            <p><sub>{{ item.btnSubCopy | safe }}</sub></p>
        {% endif %}
    </div>
    {% endfor %}
</div>