{% if section['ref'] == hero %}
    <div class="blur col-xs-12"></div>
{% endif %}
<div class="section__bg col-xs-12">
    <div class="section__bg--overlay col-xs-12"></div>
    {% if content.bgVideoMP4 %}
        <video class="bg__video section__bg--media section__bg--bg-video col-xs-12" poster="{{content.bgVideoPoster}}" muted autoplay preload loop>
            {% if content.bgVideoWEBM %}
                <source src="{{content.bgVideoWEBM}}.webm" type="video/webm">
            {% endif %}
            {% if content.bgVideoOGG %}
                <source src="{{content.bgVideoOGG}}.ogv" type="video/ogg">
            {% endif %}
            {% if content.bgVideoMP4 %}
                <source src="{{content.bgVideoMP4}}.mp4" type="video/mp4">
            {% endif %}
        </video>
    {% endif %}
    {% if content.bgImageSrc %}
        <picture>
            <source media="(min-width:1700px)" srcset="{{ content.bgImageSrc }}">
            <source media="(min-width:1100px)" srcset="{{ content.bgImageSrc }}">
            <source media="(min-width:600px)" srcset="{{ content.bgImageSrc }}">
            <img class="bg__image section__bg--media section__bg--bg-image col-xs-12" src="{{ content.bgImageSrc }}" alt="{{ content.bgImageAlt }}" />
        </picture>
    {% endif %}
</div>