{% set pageTitle = "experience" %}
{% set openScrolling = false %}

{% extends "layout.njk" %}

{% block header %}
  {% import 'macros/header_navigation.njk' as header %}
    {{ header.active(pageTitle) }}
{% endblock %}

{% block content %}

  {% set section = {
    ref: hero,
    class: 'hero',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign_fullHeight.njk" %}

  {% set section = {
    ref: welcome,
    class: 'welcome',
    onload: false,
    onenter: 'fadeElIn',
    onclick: 'slideItemIn(event); return false;',
    onexit: 'fadeElOut'
  } %}
  {% include "partials/serviceBanner_bottomAlign_fullHeight.njk" %}

  {% set section = {
    ref: why,
    class: 'why',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/textBanner_rightAlign_fullHeight.njk" %}

  {% set section = {
    ref: who,
    class: 'who',
    onload: 'panelSlideIn',
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/textBanner_leftAlign_fullHeight.njk" %}

  {% set section = {
    ref: vs,
    class: 'vs light',
    onload: 'sectionPin',
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/splitBanner_leftAlign_fullHeight.njk" %}

  {% set section = {
    ref: change,
    class: 'change',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign_fullHeight.njk" %}

{% endblock %}

{% block counter %}
  {% set counter = [
    'Experience',
    'Personalized aviation',
    'Why fly Surf Air',
    'Who flies Surf Air',
    'Surf Air vs. commercial',
    'Change the way you fly'
  ] %}
  {% include "components/_counter.njk" %}
{% endblock %}

{% block footer %}
  {% import 'macros/footer_navigation.njk' as footer %}
    {{ footer.active(pageTitle) }}
{% endblock %}