{% set pageTitle = "home" %}
{% set openScrolling = true %}

{% extends "layout.njk" %}

{% block header %}
  {% import 'macros/header_navigation.njk' as header %}
    {{ header.active(pageTitle) }}
{% endblock %}

{% block content %}

  {% set section = {
    ref: hero,
    class: 'hero',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

  {% set section = {
    ref: available,
    class: 'available float light',
    onload: false,
    onenter: 'fadeElIn parallaxItem',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/serviceBanner_topAlign.njk" %}

  {% set section = {
    ref: every,
    class: 'every',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/textBanner_bottomAlign.njk" %}

  {% set section = {
    ref: saving,
    class: 'saving light',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/splitBanner_leftAlign.njk" %}

  {% set section = {
    ref: club,
    class: 'club',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

  {% set section = {
    ref: member,
    class: 'member light half-height',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}
    
{% endblock %}

{% block footer %}
  {% import 'macros/footer_navigation.njk' as footer %}
    {{ footer.active(pageTitle) }}
{% endblock %}