{% set pageTitle = "home" %}
{% extends "layout.njk" %}

{% block Title %}
  {% import 'macros/page_title.njk' as Title %}
    {{ Title.active(pageTitle) }}
{% endblock %}

{% block header %}
  {% import 'macros/header_navigation.njk' as nav %}
    {{ nav.active(pageTitle) }}
{% endblock %}

{% block content %}

  {% set sectionRef = hero %}
    {% include "partials/ctaBanner_centerAlign_fullHeight.njk" %}
  
  {% set sectionRef = welcome %}
    {% include "partials/aboutServices_fullHeight.njk" %}

  {% set sectionRef = why %}
    {% include "partials/textBanner_rightAlign_fullHeight.njk" %}

  {% set sectionRef = who %}
    {% include "partials/textBanner_leftAlign_fullHeight.njk" %}

  {% set sectionRef = vs %}
    {% include "partials/textBanner_leftAlign_fullHeight.njk" %}

  {% include "partials/floating_section_counter.njk" %}

{% endblock %}

{% block footer %}
{% endblock %}