{% set pageTitle = "home" %}
{% extends "layout.njk" %}

{% block meta -%}
  {% import 'macros/head_meta.njk' as meta %}
    {{ meta.active(pageTitle) }}
{%- endblock %}

{% block header %}
  {% import 'macros/header_navigation.njk' as header %}
    {{ header.active(pageTitle) }}
{% endblock %}

{% block content %}
  {% set section = {
    ref: hero,
    class: 'hero',
    int1: 'frostedGlass',
    int2: 'slideInOut',
    int3: 'fadeSlideIn'
  } %}
    {% include "partials/ctaBanner_centerAlign_fullHeight.njk" %}

  {% set sectionCount = 1 %}
    {% include "partials/components/_counter.njk" %}
    
{% endblock %}

{% block footer %}
  {% import 'macros/footer_navigation.njk' as footer %}
    {{ footer.active(pageTitle) }}
{% endblock %}