{% set pageTitle = 'memberships' %}
{% set openScrolling = true %}

{% extends "layout.njk" %}

{% block header %}
  {% import 'macros/header_navigation.njk' as header %}
    {{ header.active(pageTitle) }}
{% endblock %}

{% block content %}

  {% set section = {
    ref: hero,
    class: 'hero',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

  {% set section = {
    ref: individuals,
    class: 'individuals light services-display align-left',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/serviceBanner_topAlign.njk" %}

  {% set section = {
    ref: companies,
    class: 'companies half-height',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/splitBanner_leftAlign.njk" %}

  {% set section = {
    ref: more,
    class: 'more services-block align-center flex-limit-3',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/serviceBanner_bottomAlign.njk" %}

  {% set section = {
    ref: questions,
    class: 'questions half-height',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/splitBanner_rightAlign.njk" %}

  {% set section = {
    ref: smartest,
    class: 'smartest',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

{% endblock %}

{% block footer %}
  {% import 'macros/footer_navigation.njk' as footer %}
    {{ footer.active(pageTitle) }}
{% endblock %}