{% set pageTitle = "on-demand" %}
{% set openScrolling = true %}

{% extends "layout.njk" %}

{% block header %}
  {% import 'macros/header_navigation.njk' as header %}
    {{ header.active(pageTitle) }}
{% endblock %}

{% block content %}

  {% set section = {
    ref: hero,
    class: 'hero half-height',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

  {% set section = {
    ref: perfect,
    class: 'perfect light services-display',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/serviceBanner_topAlign.njk" %}

  {% set section = {
    ref: thousands,
    class: 'thousands light bg-off-white',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

  {% set section = {
    ref: gang,
    class: 'gang align-left',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/textBanner_leftAlign.njk" %}

  {% set section = {
    ref: best,
    class: 'best light half-height',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

  {% set section = {
    ref: final,
    class: 'final',
    onload: false,
    onenter: 'fadeElIn',
    onclick: false,
    onexit: 'fadeElOut'
  } %}
  {% include "partials/ctaBanner_centerAlign.njk" %}

{% endblock %}

{% block footer %}
  {% import 'macros/footer_navigation.njk' as footer %}
    {{ footer.active(pageTitle) }}
{% endblock %}